
; This is the database configuration file.
; Should be named "db.config.ini".

[production]
USER_PROD = "REPLACE_USER_PROD"
PWD_PROD = "REPLACE_PWD_PROD"
DATABASE_PROD = "REPLACE_DATABASE_PROD"

[test]
USER_TEST = "REPLACE_USER_TEST"
PWD_TEST = "REPLACE_PWD_TEST"
DATABASE_TEST = "REPLACE_DATABASE_TEST"

DATABASE_LOCAL_DEV = "REPLACE_DATABASE_LOCAL_DEV"
DATABASE_LOCAL = "REPLACE_DATABASE_LOCAL"
