
; This is the mailbox configuration file.
; Should be named "mailbox.config.ini".

[org]
PWD_EXPERT_ORG = "REPLACE_PWD_EXPERT_ORG"
PWD_DEPOT_ORG = "REPLACE_PWD_DEPOT_ORG"

[fr]
PWD_EXPERT_FR = "REPLACE_PWD_EXPERT_FR"
PWD_DEPOT_FR = "REPLACE_PWD_DEPOT_FR"

[es]
PWD_EXPERT_ES = "REPLACE_PWD_EXPERT_ES"
PWD_DEPOT_ES = "REPLACE_PWD_DEPOT_ES"

[br]
PWD_EXPERT_BR = "REPLACE_PWD_EXPERT_BR"
PWD_DEPOT_BR = "REPLACE_PWD_DEPOT_BR"

[de]
PWD_EXPERT_DE = "REPLACE_PWD_EXPERT_DE"
PWD_DEPOT_DE = "REPLACE_PWD_DEPOT_DE"
